@import "~bulma";

$primary-color: rgb(255, 149, 149);

body{
    background-color: $primary-color;
    text-align: center;
}
header{
    font-size: 2em;
    background-color: rgb(0, 0, 0);
    margin-bottom: 2em;
  }
  
  .kategorier{
    margin-top: 2em;
  }

  h1{
    color: white;
    
  }

  img{
      border-radius: 18px;
      width: 22em;
      margin-right: 90em;
      border-style: solid;
  }

 .field{
   width: 20em;
 }