@import "~bulma";

$primary-color: rgb(253, 181, 181);

body{
    background-color: $primary-color;
    text-align: center;
}
header{
    font-size: 2em;
    background-color: aqua;
    margin-bottom: 2em;
  }
  
  .kategorier{
    margin-top: 2em;
  }

  img{
      border-radius: 18px;
      width: 22em;
      margin-right: 90em;
      border-style: solid;
  }
  